<%- model_class = Tweet -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:tweet_type) %></th>
      <th><%= model_class.human_attribute_name(:lat) %></th>
      <th><%= model_class.human_attribute_name(:lng) %></th>
      <th><%= model_class.human_attribute_name(:uri) %></th>
      <th><%= model_class.human_attribute_name(:full_text) %></th>
      <th><%= model_class.human_attribute_name(:user_name) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= link_to tweet.id, tweet_path(tweet) %></td>
        <td><%= tweet.tweet_type %></td>
        <td><%= tweet.lat %></td>
        <td><%= tweet.lng %></td>
        <td><%= link_to tweet.uri, tweet.uri %></td>
        <td><%= tweet.full_text %></td>
        <td><%= tweet.user_name %></td>
        <td>
          <%= link_to edit_tweet_path(tweet),
                      :class => 'btn btn-mini btn-primary' do %>
            <i class="fa fa-edit"></i>
            <%= t('.edit', :default => t("helpers.links.edit")) %>
          <% end %>
          <%= link_to tweet_path(tweet),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' do %>
            <i class="fa fa-trash-o"></i>
            <%= t('.destroy', :default => t("helpers.links.destroy")) %>
          <% end %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to new_tweet_path,
            :class => 'btn btn-primary' do %>
  <i class="fa fa-plus-square-o"></i>
  <%= t('.new', :default => t("helpers.links.new")) %>
<% end %>
